@import "tailwindcss";

@theme {
    --color-primary-50: #f3faf6;
    --color-primary-100: #e2f6eb;
    --color-primary-200: #c7ebd7;
    --color-primary-300: #9adbb8;
    --color-primary-400: #67c191;
    --color-primary-500: #42a570;
    --color-primary-600: #31885a;
    --color-primary-700: #2a6b48;
    --color-primary-800: #25563d;
    --color-primary-900: #204734;
    --color-primary-950: #123524;
}
