---
import FocusCard from "./FocusCard.astro";---

<!-- Areas of Focus Section -->
<section id="focus" class="py-16 bg-primary-50">
  <div class="container mx-auto px-4">
    <h2 class="text-3xl text-primary-800 font-semibold text-center mb-8">Areas of Focus</h2>
    <div class="flex flex-wrap justify-center">
      <FocusCard title="Policy Research & Recommendations">
          Conducting evidence-based research to shape policies that address complex, interconnected social issues, with solutions that work in both national and when needed, global contexts.
      </FocusCard>

      <FocusCard title="Human Rights">
          Advancing equity by focusing on the upliftment of communities facing systemic barriers, ensuring freedom from discrimination and building pathways to dignity for all.
      </FocusCard>

      <FocusCard title="Women">
          Driving both grassroots initiatives and policy measures that strengthen women's rights, amplify their voices, and expand their representation in decision-making spaces.
      </FocusCard>

      <FocusCard title="Health Access">
          Improving primary and localised healthcare systems to deliver consistent, high-quality services, ensuring that essential care is accessible to every community.
      </FocusCard>

      <FocusCard title="Practical Education">
          Filling the gap left by traditional schooling by equipping all age groups with essential real-world knowledge, from financial literacy to legal awareness.
      </FocusCard>
    </div>
  </div>
</section>
