---
---

<!-- Core Values Section -->
<section id="values" class="py-16 bg-primary-50">
  <div class="container mx-auto px-4">
    <h2 class="text-3xl text-primary-800 font-semibold text-center mb-8">Core Values</h2>

    <div class="max-w-6xl mx-auto flex justify-center">

        <ul class="list-disc w-fit px-5">
            <li class="mb-4">
                <h3 class="text-xl font-semibold text-primary-600">Inclusivity</h3>
                <p class="text-textcolor-700 text-base">Every voice matters, regardless of background</p>
            </li>
            <li class="mb-4">
                <h3 class="text-xl font-semibold text-primary-600">Representation</h3>
                <p class="text-textcolor-700 text-base">Ensuring diverse communities have a seat at the table</p>
            </li>
            <li class="mb-4">
                <h3 class="text-xl font-semibold text-primary-600">Equity</h3>
                <p class="text-textcolor-700 text-base">Fairness in opportunities and access to resources</p>
            </li>
            <li class="mb-4">
                <h3 class="text-xl font-semibold text-primary-600">Public-Centric</h3>
                <p class="text-textcolor-700 text-base">People’s needs at the heart of every decision</p>
            </li>
            <li class="mb-4">
                <h3 class="text-xl font-semibold text-primary-600">Understanding Heterogeneity</h3>
                <p class="text-textcolor-700 text-base">Recognising the complexity and diversity within communities</p>
            </li>
            <li class="mb-4">
                <h3 class="text-xl font-semibold text-primary-600">Growth & Adaptability</h3>
                <p class="text-textcolor-700 text-base">Evolving with changing realities</p>
            </li>
            <li class="mb-4">
                <h3 class="text-xl font-semibold text-primary-600">Wisdom & Fearlessness</h3>
                <p class="text-textcolor-700 text-base">Acting with courage, backed by knowledge</p>
            </li>
        </ul>
    </div>
  </div>
  </section>
