
<!-- Hero Section -->
<section class="bg-primary-800 text-white relative">
  <div class="mx-auto">
    <div class="">
      <div class="grid grid-cols-1 md:grid-cols-2">
          <div class="py-10 md:py-20 px-4 flex flex-col justify-center items-center">
              <p class="text-4xl text-white font-semibold md:text-5xl mb-8 text-center">Where Research Meets Human Resolve</p>
              <p class="text-lg text-textcolor-100 mb-8 text-center">
                  KRF exists to bridge the gap between the complex challenges communities face and the solutions they deserve,
                  combining a scientific approach with lived understanding to design systems that are inclusive, resilient, and built to last.
              </p>
              <a href="#involved" class="inline-block bg-white text-primary-800 font-semibold py-3 px-6 rounded-lg hover:bg-primary-100 transition-colors">
                  Get Involved
              </a>
          </div>
          <div class="grow">
              <img src="/KRF-Website/Hero.jpeg" alt="Kailash Research Foundation Logo" class="w-full aspect-21/10 object-center object-cover" />
          </div>
          <div class="md:hidden bg-primary-800 py-3"></div>
      </div>
    </div>
  </div>
</section>
